.colortext {
    background-color: #ffe;
    /* Цвет фона */
    color: rgb(255, 0, 0);
    /* Цвет текста */
}

.background {
    margin-top: 20px;
    background-color: rgb(73, 176, 236);
    text-align: center;
}
.main-layer {
    background-color: rgb(253, 253, 253);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    text-align: center;
}
.layer3 {
    background-color: rgb(253, 253, 253);
    margin-left: 5%;
    text-align: justify;
}
.task {
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
}

.p-bold {
    font-weight: bold;
}

.forms {
    font-weight: bold;
}

h2 {
    margin-top: 60px;
}